title {
  color: #2F0A06;
  font-style: bold;
  text-align: center;
}
h1 {
  color: #641E16;
  font-style: normal;
  text-align: left;
}
h2 {
  color: #8E190D;
  font-style: italic;
  text-align: left;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
